<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

   <display-name>St. Andrews Halifax</display-name>
   
   <!-- The Welcome File List -->
   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>

   <!-- Redirection servlet which maps .do requests to .jsp-->
   <servlet>
      <servlet-name>redirect</servlet-name>
      <servlet-class>uk.org.standrewshalifax.Redirect</servlet-class>
      <init-param>
         <param-name>/taskForces.do</param-name>
         <param-value>/taskForces.jsp</param-value>
      </init-param>
      <init-param>
         <param-name>/circuitNewsAndEvents.do</param-name>
         <param-value>/circuitNewsAndEvents.jsp</param-value>
      </init-param>            
      <init-param>
         <param-name>prayerandmission.xhtml</param-name>
         <param-value>/prayerAndMission.jsp</param-value>
      </init-param>
      <init-param>
         <param-name>aol.xhtml</param-name>
         <param-value>/staticGroups.jsp?includeFile=aol.xhtml</param-value>
      </init-param>      
      <init-param>
         <param-name>/staticOther.do?includeFile=/letter.xhtml</param-name>
         <param-value>/staticOther.jsp?includeFile=letter.xhtml</param-value>
      </init-param>
	<init-param>
         <param-name>/staticOther.do?includeFile=/Christianityexplored.xhtml</param-name>
         <param-value>/staticOther.jsp?includeFile=Christianityexplored.xhtml</param-value>
      </init-param>
      <init-param>
         <param-name>outreachandawareness.xhtml</param-name>
         <param-value>/staticGroups.jsp?includeFile=outreachandawareness.xhtml</param-value>      
      </init-param>      
      <init-param>
         <param-name>scouts.xhtml</param-name>
         <param-value>/staticGroups.jsp?includeFile=scouts.xhtml</param-value>
      </init-param>            
      <init-param>
         <param-name>/staticOther.do?includeFile=/BacktoChurchSunday.xhtml</param-name>
         <param-value>/index.jsp</param-value>
      </init-param>            
      <init-param>
         <param-name>/staticGroups.do?includeFile=/yw.xhtml</param-name>
         <param-value>/groups.jsp#yw</param-value>
      </init-param>            
      <load-on-startup>3</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>redirect</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>
   
</web-app>
